<div id="random-question" class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full mx-4 mt-6">
    <div id="question-count" class="text-gray-600 mb-4">Pytania rozwiązane: <span id="count" th:text="${solvedQuestionsCount}">0</span></div>
    <h2 class="text-xl font-semibold text-gray-800 mb-4" th:text="${question.title}">Tytuł pytania</h2>
    <input type="hidden" id="correct-answer" th:value="${question.correctAnswer}" />
    <input type="hidden" id="question-id" th:value="${question.id}" />

    <ul class="list-none space-y-2">
        <li th:each="entry : ${question.answers}">
            <button class="answer-button w-full py-3 px-4 rounded-lg border border-gray-300 bg-gray-100 text-gray-700 transition-all"
                    th:attr="data-key=${entry.key}"
                    onclick="checkAnswer(this)"
                    th:text="${entry.key} + ': ' + ${entry.value}">
                Odpowiedź
            </button>
        </li>
    </ul>
    <!-- Przycisk „Dalej” wyróżniony pomarańczowym kolorem, domyślnie ukryty -->
    <button id="next-button" onclick="loadNextQuestion()" class="mt-6 py-2 px-4 rounded-lg bg-orange-500 text-white hover:bg-orange-600 w-full hidden">DALEJ</button>
</div>

<script>
    function checkAnswer(buttonElement) {
        const selectedAnswer = buttonElement.getAttribute('data-key');
        const correctAnswer = document.getElementById('correct-answer').value;
        const targetElement = document.querySelector('#random-question');
        const nextButton = document.querySelector('#next-button');
        const answerButtons = document.querySelectorAll('.answer-button');

        if (selectedAnswer.trim() === correctAnswer.trim()) {
            buttonElement.classList.add('bg-green-500', 'text-white');
            targetElement.classList.add('bg-green-100');

            // Wyświetlenie przycisku „Dalej” i ustawienie go na kolor pomarańczowy
            nextButton.classList.remove('hidden');
            nextButton.classList.add('bg-orange-500', 'hover:bg-orange-600', 'text-white');

            answerButtons.forEach(button => button.disabled = true);
        } else {
            buttonElement.classList.add('bg-red-500', 'text-white');
            buttonElement.disabled = true;
        }
    }

    function loadNextQuestion() {
        htmx.ajax('GET', '/questions/random', {
            target: '#data-content', // Zastępuje zawartość tylko kontenera quizu
            swap: 'innerHTML'
        });
    }

    document.addEventListener('htmx:afterSwap', function () {
        const targetElement = document.querySelector('#random-question');
        targetElement.classList.remove('bg-green-100');
    });
</script>