<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Losowe Pytanie</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="random-question">
    <div id="question-count">Pytania rozwiązane: <span id="count" th:text="${solvedQuestionsCount}">0</span></div>
    <h2 th:text="${question.title}">Tytuł pytania</h2>
    <input type="hidden" id="correct-answer" th:value="${question.correctAnswer}" />
    <input type="hidden" id="question-id" th:value="${question.id}" />

    <ul style="list-style-type: none; padding: 0;">
        <li th:each="entry : ${question.answers}">
            <button class="answer-button"
                    th:attr="data-key=${entry.key}"
                    onclick="checkAnswer(this)"
                    th:text="${entry.key} + ': ' + ${entry.value}">
                Odpowiedź
            </button>
        </li>
    </ul>
    <button id="next-button" onclick="loadNextQuestion()">DALEJ</button>
</div>

<script>
    // Deklaracja zmiennej questionCount poza funkcję, aby uniknąć ponownej deklaracji
    // if (typeof window.questionCount === 'undefined') {
    //     window.questionCount = 0;
    // }

    function checkAnswer(buttonElement) {
        const selectedAnswer = buttonElement.getAttribute('data-key');
        const correctAnswer = document.getElementById('correct-answer').value;
        const targetElement = document.querySelector('#random-question');
        const nextButton = document.querySelector('#next-button');
        const answerButtons = document.querySelectorAll('.answer-button');

        if (selectedAnswer.trim() === correctAnswer.trim()) {
            buttonElement.classList.add('correct');
            targetElement.style.backgroundColor = '#28a745';
            nextButton.style.display = 'block';
            answerButtons.forEach(button => button.disabled = true);

            // Wyślij zapytanie do backendu, aby oznaczyć pytanie jako rozwiązane
            const questionId = document.getElementById('question-id').value;
            fetch(`/questions/mark-solved?questionId=${questionId}`, { method: 'POST' });
        } else {
            buttonElement.classList.add('incorrect');
            buttonElement.disabled = true;
        }
    }


    function loadNextQuestion() {
        // window.questionCount++;
        // document.querySelector('#count').innerText = window.questionCount;
        htmx.ajax('GET', '/questions/random', {
            target: '#random-question',
            swap: 'outerHTML'
        });
    }

    document.addEventListener('htmx:afterSwap', function() {
        // Resetuj tło po załadowaniu nowego pytania
        const targetElement = document.querySelector('#random-question');
        targetElement.style.backgroundColor = 'white';

        // Ponownie wyświetl odpowiedni licznik pytań
        // document.querySelector('#count').innerText = window.questionCount;
    });
</script>
</body>
</html>
